@import "styles/config/colors";
@import "styles/mixins/media-queries";

.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  // padding-bottom: 6rem;
}

.container {
  width: 100%;
  // height: 100%;
  margin: 0 auto;
  @include desktop {
    width: 30rem;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  // grid-template-rows: 50%;
  padding-bottom: 6rem;
}

.gridItem {
  height: 13rem;
  position: relative;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.itemTitle {
  width: fit-content;
  position: absolute;
  z-index: 1;
  color: $whiteColor;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow: $defaultTextBorder;
}

.gridItemImage {
  height: 13rem;
}
