@import "/styles/config/colors.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  background-color: #b0b0b0;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

body {
  /*max-width: 67.6rem;
  min-width: 22.5rem;*/
  width: 100%;
  /*margin: 0 auto;*/
  background-color: #f2f2f2;
  height: 100%;
  overflow: hidden;
  /*margin-bottom: 6rem;*/
  /* padding-bottom: 6rem; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  margin-top: 0;
}

#__next {
  height: 100%;
}
